<!--

<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "G-J9RMXCN6YE",
        "config": {
         "G-J9RMXCN6YE": { "groups": "default" }
        }
      },
      "triggers": {
        
      }
    }
  </script>
</amp-analytics>

-->
<amp-analytics type="googleanalytics">
  <script type="application/json">
  {
    "vars": {
      "account": "UA-116382541-6"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      },
      "trackAnchorClicks": {
        "on": "click",
        "selector": "a",
        "request": "event",
        "vars": {
          "eventId": "clickOnAnyAnchor"
        }
      }
    }
  }
  </script>
</amp-analytics>
