<div class="header__logo">
  <amp-img alt="C and J logo" layout="responsive" media="(max-width: {{ site.env_breakpoint | default: "1279px" }})" height="180" width="540" noloading src="/assets/images/C&JAuto-Hz2c72.png"></amp-img>
  <amp-img alt="C and J logo" layout="responsive" media="(min-width: {{ site.env_breakpoint | default: "1279px" | plus: 1 | append: "px" }})" height="180" width="540" noloading src="/assets/images/C&JAuto-HzRev72.png"></amp-img>
</div>
{% include phone.html class="header__phone" %}
{% include address.html class="header__address" %}
