.ad {
  display: grid;
  grid-template-rows: var(--ad_grid-template-rows);
  grid-template-columns: var(--ad_grid-template-columns);
  grid-template-areas: var(--ad_grid-template-areas);
}

.ad {
  background-color: #f47721;
  color: #fffl
}
