:root {
  --ad_grid-template-rows: auto auto;
  --ad_grid-template-columns: 1fr;
  --ad_grid-template-areas: "logo" "text"
}

.ad {
  display: grid;
  width: 50%;
  max-width: 400px;
  position: relative;
  left: 50vw;
  top: 50vh;
  font-family: 'Michroma', sans-serif;
  transform: translateX(-50%) translateY(-50%);
  grid-template-rows: var(--ad_grid-template-rows);
  grid-template-columns: var(--ad_grid-template-columns);
  grid-template-areas: var(--ad_grid-template-areas);
  grid-gap: 2em;
}

.ad {
  color: #fff
}

.ad__logo {
  grid-area: logo;
}

.ad__logo > amp-img[layout="fill"] > img {
  object-fit: contain;
}

.ad__text {
  grid-area: text;
  text-align: center;
}

.splash--trusted {
  background-color: #19468d;
}

.site__splash::after {
  content: 'unfold_more';
  font-family: 'Material Icons';
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);  
  font-size: 24px;
  color: #818b94;
  word-wrap: normal;
}
