:root {
  /* 🌈 colors 🌈 */
  --color__background: var(--color__1, #2b2c31); /* "black" */
  --color__text: var(--color__2, #ffffff); /* white */
  --color__heading: var(--color__3, #eaff7f); /* yellow-green; alt "cyan" #7feaff*/
  --color__link: var(--color__3, #eaff7f); /* yellow-green; alt "cyan" #7feaff*/
  --color__rule: var(--color__4, #ffffff); /* white */
  --color__quote: var(--color__5, #cfd1c7); /* "gray" */
}
