:root {
  --env_breakpoint: #{$env_breakpoint};
  
  --header_grid-template-rows: auto auto;
  --header_grid-template-columns: 1fr auto;
  --header_grid-template-areas:
    "logo phone"
    "logo address";
}

@media (max-width: $env_breakpoint) {
  :root {
    --header_grid-template-rows: minmax(48px,auto) auto auto;
    --header_grid-template-columns: 1fr;
    --header_grid-template-areas:
      "logo"
      "phone"
      "address";
  }
}

.header {
  position:relative;
  display: grid;
  background: linear-gradient(var(--color__background), transparent);
  grid-template-rows: var(--header_grid-template-rows);
  grid-template-columns: var(--header_grid-template-columns);
  grid-template-areas: var(--header_grid-template-areas);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 16px 0;
}

.header__logo {
  grid-area: logo;
  position: relative;
}

.header__logo > amp-img[layout="fill"] > img {
    object-fit: contain;
    object-position: left;
}

.header__phone {
  grid-area: phone;
}

.header__address {
  grid-area: address;
}
