:root {
  --env_breakpoint: #{$env_breakpoint};
  
  --site_grid-template-rows: auto auto auto;
  --site_grid-template-columns: 1fr var(--env_breakpoint) 1fr;
  --site_grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";

}

@media (max-width: $env_breakpoint) {
  :root {
    --site_grid-template-rows: auto auto auto;
    --site_grid-template-columns: 1fr;
    --site_grid-template-areas:
      "header"
      "main"
      "footer";
}

.site {
  display: grid;
  grid-template-rows: var(--site_grid-template-rows);
  grid-template-columns: var(--site_grid-template-columns);
  grid-template-areas: var(--site_grid-template-areas);
}

.site__header {
  grid-area: header;
}

.site__main {
  grid-area: main;
}

.main {
  
 }
