:root {
  --site__header_display: initial;
  --site__splash_display: none;
  --env_breakpoint: #{$env_breakpoint};
  
  --site_grid-template-rows: 128px auto auto;
  --site_grid-template-columns: 1fr var(--env_breakpoint) 1fr;
  --site_grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";

}

@media (max-width: $env_breakpoint) {
  :root {
    --site__header_display: none;
    --site__splash_display: initial;
    --site_grid-template-rows: auto auto auto auto;
    --site_grid-template-columns: 1fr;
    --site_grid-template-areas:
      "splash"
      "main"
      "footer";
  }
}

.site {
  display: grid;
  grid-template-rows: var(--site_grid-template-rows);
  grid-template-columns: var(--site_grid-template-columns);
  grid-template-areas: var(--site_grid-template-areas);
}

.site__splash {
  grid-area: splash; 
  display: var(--site__splash_display);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.site__header {
  grid-area: header;
  display: var(--site__header_display);
}

.site__main {
  grid-area: main;
}
