.site {
  display: grid;
  grid-template-rows: var(--site_grid-template-rows);
  grid-template-columns: var(--site_grid-template-columns);
  grid-template-areas: var(--site_grid-template-areas);
}

.site__splash {
  grid-area: splash; 
  display: var(--site__splash_display);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.site__header {
  grid-area: header;
  display: var(--site__header_display);
}

.site__main {
  grid-area: main;
}
