---
layout: default
---
<div class="site markdown-body">
  <aside class="site__splash">
    <div class="parallax-wrapper" amp-fx="parallax" data-parallax-factor="1.3">
      <div class="ad">
        <amp-img class="ad__logo" layout="responsive" width="216" height="166" src="{{ page.image }}"></amp-img>
        <div class="ad__text">
          <a href="tel:7634252423"><i class="material-icons md-48 md-light">phone</i></a>
          <a class="" href="https://www.google.com/maps/dir/?api=1&amp;destination=CanJ%20Auto%20repair&amp;destination_place_id=ChIJ3crk9Uo4s1IRrxPfIPo7-YQ&amp;travelmode=driving"><i class="material-icons md-48 md-light">navigation</i></a>          
        </div>
      </div>
    </div>
  </aside>
  <main class="site__main main" amp-fx="fade-in-scroll" data-repeat data-margin-start="20%" data-margin-end="80%">
    {{ content }}
  </main>
  <footer class="site__footer">
     {% include footer.html %}
  </footer>
</div>
